name: Build pvr.iptvsimple only

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            unzip cmake ninja-build g++ make git \
            libfmt-dev libpugixml-dev rapidjson-dev

      - name: Clone Kodi source
        run: |
          git clone --depth 1 --branch Omega https://github.com/xbmc/xbmc.git kodi-src

      - name: Clone pvr.iptvsimple addon
        run: |
          git clone --depth 1 --branch 21.11.0-Omega https://github.com/kodi-pvr/pvr.iptvsimple.git

      - name: Build addon
        run: |
          mkdir -p pvr.iptvsimple/build
          cd pvr.iptvsimple/build
          cmake \
            -DADDONS_TO_BUILD=pvr.iptvsimple \
            -DADDON_SRC_PREFIX=../.. \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=../../kodi-src/addons \
            -DPACKAGE_ZIP=1 \
            ../../kodi-src/cmake/addons
          make -j$(nproc)
          make install

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: pvr.iptvsimple
          path: kodi-src/addons/pvr.iptvsimple/build/zips/*.zip
