name: Build pvr.iptvsimple (Kodi 21 Omega)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout Kodi 21 Omega
      uses: actions/checkout@v4
      with:
        repository: xbmc/xbmc
        ref: Omega
        path: xbmc

    - name: Checkout pvr.iptvsimple 21.11.0-Omega
      uses: actions/checkout@v4
      with:
        repository: kodi-pvr/pvr.iptvsimple
        ref: 21.11.0-Omega
        path: addons/pvr.iptvsimple

    - name: 安装依赖 + waylandpp
      run: |
        sudo apt update -qq
        sudo apt install -y autoconf automake autopoint bison flex gettext \
          cmake curl gcc g++ git pkg-config yasm nasm \
          meson ninja-build swig unzip ccache \
          build-essential libtool fakeroot dpkg-dev \
          libasound2-dev libass-dev libbluray-dev libbz2-dev \
          libcdio-dev libcec-dev libcurl4-openssl-dev \
          libdbus-1-dev libexiv2-dev libflac-dev libfontconfig-dev \
          libfreetype6-dev libfribidi-dev libgcrypt20-dev \
          libgif-dev libgl1-mesa-dev libglu1-mesa-dev \
          libegl1-mesa-dev libgles2-mesa-dev \
          libgnutls28-dev libgpg-error-dev libiso9660-dev \
          libjpeg-dev liblcms2-dev liblirc-dev liblzo2-dev \
          libmicrohttpd-dev libnfs-dev libogg-dev libpcre2-dev \
          libplist-dev libpng-dev libpulse-dev libshairplay-dev \
          libsmbclient-dev libspdlog-dev libsqlite3-dev libssl-dev \
          libtag1-dev libtiff5-dev libtinyxml2-dev libudev-dev \
          libva-dev libvdpau-dev libvorbis-dev libxml2-dev libxslt1-dev \
          libxkbcommon-dev libxrandr-dev zlib1g-dev \
          libwayland-dev libgbm-dev libdrm-dev libinput-dev \
          libdisplay-info-dev liburiparser-dev rapidjson-dev \
          nlohmann-json3-dev flatbuffers-compiler libflatbuffers-dev libpugixml-dev \
          python3-dev libfstrcmp-dev libpcre3 libpcre3-dev libtinyxml-dev libgtest-dev libunistring-dev \
          libx11-dev libxext-dev libxrender-dev wayland-protocols
    
        # 安装 waylandpp
        curl -L https://github.com/waylandpp/waylandpp/archive/refs/tags/v0.3.tar.gz | tar xz
        cd waylandpp-0.3
        mkdir build && cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local
        make -j$(nproc)
        sudo make install
        sudo ldconfig

          
    - name: Build addon
      run: |
        cd xbmc
        mkdir -p build
        cd build

        cmake .. \
          -GNinja \
          -DADDONS_TO_BUILD=pvr.iptvsimple \
          -DADDON_SRC_PREFIX=../addons \
          -DPACKAGE_ZIP=1 \
          -DCMAKE_BUILD_TYPE=Release \
          cmake/addons

        ninja

        echo "=== Search zip ==="
        find . -name "pvr.iptvsimple-*.zip" -ls

    - name: Upload ZIP
      uses: actions/upload-artifact@v4
      with:
        name: pvr.iptvsimple-Omega
        path: xbmc/build/**/pvr.iptvsimple-*.zip
