name: Build pvr.iptvsimple (Kodi 21 Omega)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout Kodi 21 Omega
      uses: actions/checkout@v4
      with:
        repository: xbmc/xbmc
        ref: Omega
        path: xbmc

    - name: Checkout pvr.iptvsimple 21.11.0-Omega
      uses: actions/checkout@v4
      with:
        repository: kodi-pvr/pvr.iptvsimple
        ref: 21.11.0-Omega
        path: addons/pvr.iptvsimple

    - name: 安装依赖
      run: |
        sudo apt update -qq
        sudo apt install -y \
          build-essential \
          cmake \
          ninja-build \
          git \
          autoconf \
          libtool \
          pkg-config \
          liblzo2-dev \
          libpng-dev \
          zlib1g-dev \
          libgif-dev \
          libjpeg-dev \
          libtinyxml2-dev \
          libuuid-dev \
          libcurl4-openssl-dev \
          libpugixml-dev \
          libfmt-dev \
          libssl-dev


    - name: Build addon
      run: |
        cd xbmc
        mkdir -p build
        cd build

        cmake .. \
          -GNinja \
          -DADDONS_TO_BUILD=pvr.iptvsimple \
          -DADDON_SRC_PREFIX=../addons \
          -DPACKAGE_ZIP=1 \
          -DCMAKE_BUILD_TYPE=Release \
          cmake/addons

        ninja

        echo "=== Search zip ==="
        find . -name "pvr.iptvsimple-*.zip" -ls

    - name: Upload ZIP
      uses: actions/upload-artifact@v4
      with:
        name: pvr.iptvsimple-Omega
        path: xbmc/build/**/pvr.iptvsimple-*.zip
